@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
  margin: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  padding-right: 20px;
}

.header .left-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style-type: none;
}

.header .right-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-left: -20px;
  padding-right: 20px;
  background-color: whitesmoke;
}


.footer .left-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style-type: none;
}

.footer .right-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style-type: none;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}